---
import { actions } from "astro:actions";
import Form from "../../components/Form.astro";
import SelectCountryInput from "../../components/SelectCountryInput.astro";
import TextInput from "../../components/TextInput.astro";
import Layout from "../../layouts/Layout.astro";

if (Astro.request.method == "POST") {
  const formData = await Astro.request.formData();
  const { data, error } = await Astro.callAction(
    actions.createNewGuestAction,
    formData
  );

  if (data && data.message == "CREATED") {
    return Astro.redirect("/hospedes");
  }
}
---

<Layout>
  <main class="grow flex flex-col items-center">
    <Form method="POST" id="new-guest-form">
      <div slot="inputs" class="flex flex-col p-4">
        <TextInput id="document" label="Documento" />
        <TextInput id="name" label="Nome" />
        <TextInput id="surname" label="Sobrenome" />
        <SelectCountryInput />
        <TextInput id="phone" label="Telefone" />
      </div>
      <div
        slot="buttons"
        class="flex flex-col items-center md:flex-row md:justify-center p-4 gap-4">
        <button
          id="submit_button"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full"
          type="submit">
          Cadastrar
        </button>
      </div>
    </Form>
  </main>
</Layout>
