---
import { getAllAccommodationsAction } from "../../actions/accommodation/getAllAcommodationsAction";
import AccommodationCard from "../AccommodationCard.astro";

type Props = {
  accommodations_ulid: string[];
};
const { callAction, props } = Astro;
const { accommodations_ulid } = props;

const result = await callAction(getAllAccommodationsAction, undefined);

if (result.error) {
  console.log(result.error);
  throw new Error("Unable to fetch accommodations data");
}

const accommodations = result.data;

const avaiableAccommodations = accommodations.filter(
  (accommodation) => !accommodations_ulid.includes(accommodation.ulid)
);
---

<div class="flex flex-col w-full h-full">
  {
    avaiableAccommodations.map((accommodation) => (
      <AccommodationCard accommodation={accommodation} />
    ))
  }
</div>
