---
import Table from "../components/Table.astro";
import Layout from "../layouts/Layout.astro";
import { accommodationSchema } from "../schemas/schemas";

const response = await fetch("http://127.0.0.1:8000/acomodacoes");
const data = await response.json();
const parsedData = await accommodationSchema
  .array()
  .parseAsync(data["accommodations"]);

const tableData = parsedData.map((accommodation) => {
  return {
    id: String(accommodation.id),
    name: accommodation.name,
    status: accommodation.status,
    price: Intl.NumberFormat("pt-BR", {
      style: "currency",
      currency: "BRL",
    }).format(accommodation.price),
  };
});

let columns = ["ID", "Nome", "Status", "Preço"];
---

<Layout>
  <div class="flex flex-col items-center">
    {
      tableData.length > 0 && (
        <Table id="accommodation-table" columns={columns} data={tableData} />
      )
    }
    {
      tableData.length == 0 && (
        <p>Nenhum hóspede encontrado no banco de dados</p>
      )
    }

    <a href="/acomodacoes/cadastro"
      ><button
        class="w-64 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >Cadastrar</button
      ></a
    >
  </div>

  <script>
    const tableBody = document.getElementById("table_content");
    if (tableBody) {
      tableBody.addEventListener("click", (event) => {
        const target = event.target as HTMLElement;
        const rows = target.parentNode as HTMLTableRowElement;
        const id = rows.cells[0].textContent;
        if (id) {
          window.location.href = `${window.location.href.trim()}/${id.trim()}`;
        }
      });
    }
  </script>
</Layout>
