---
type AccommodationDTO = {
  id: number;
  created_at: string;
  name: string;
  total_guests: number;
  single_beds: number;
  double_beds: number;
  status: string;
  min_nights: number;
  amenities: Array<string>;
};
import Layout from "../layouts/Layout.astro";
const response = await fetch("http://127.0.0.1:5000/api/acomodacoes");
const data: Array<AccommodationDTO> = await response.json();
console.log(data);
---

<Layout>
  <div class="flex flex-col items-center">
    <table class="mt-14 mb-14 min-w-full p-4 border-spacing-0">
      <thead class="bg-zinc-400 font-bold h-12 text-center">
        <td class="p-4">Id</td>
        <td class="p-4">Nome</td>
        <td class="p-4">Status</td>
      </thead>
      <tbody id="table_content">
        {
          data.map((accommodation) => {
            return (
              <tr class="text-center text-zinc-600 hover:text-zinc-400 cursor-pointer">
                <td class="border-b border-l text-center p-4 border-zinc-300 last:border-r">
                  {accommodation.id}
                </td>
                <td class="border-b border-l text-center p-4 border-zinc-300 last:border-r">
                  {accommodation.name}
                </td>
                <td class="border-b border-l text-center p-4 border-zinc-300 last:border-r">
                  {accommodation.status}
                </td>
              </tr>
            );
          })
        }
      </tbody>
    </table>

    {!data && <p>Nenhum hóspede encontrado no banco de dados</p>}

    <button
      class="w-60 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
      >Cadastrar</button
    >
  </div>
</Layout>
