---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="table_wrapper">
    <table>
      <thead>
        <td>Documento</td>
        <td>Nome</td>
        <td>Sobrenome</td>
        <td>País</td>
        <td>Telefone</td>
      </thead>
      <tbody id="table_content">
        <tr class="table_row">
          <td id="document" class="cell"></td>
          <td class="cell"></td>
          <td class="cell"></td>
          <td class="cell"></td>
          <td class="cell"></td>
        </tr>
      </tbody>
    </table>

    <div class="wrapper">
      <p>Nenhum hóspede encontrado no banco de dados</p>
    </div>

    <div class="btn_wrapper">
      <button class="submit_btn">Cadastrar</button>
    </div>
  </div>
</Layout>
