---
import Table from "../components/Table.astro";
import Layout from "../layouts/Layout.astro";
import { guestSchema } from "../schemas/schemas";

const response = await fetch("http://127.0.0.1:8000/hospedes");
const data = await response.json();
const parsedData = await guestSchema.array().safeParseAsync(data);

if (!parsedData.success) {
  throw new Error(parsedData.error.message);
}

const tableData = parsedData.data.map((guest) => {
  return {
    document: guest.document,
    name: `${guest.name} ${guest.surname}`,
    country: guest.country,
    phone: guest.phone,
  };
});
let columns = [];
if (tableData.length > 0) {
  columns.push(Object.keys(tableData[0]));
}
---

<Layout>
  <div class="flex flex-col items-center">
    {
      columns.length > 0 && (
        <Table id="guest-table" columns={columns[0]} data={tableData} />
      )
    }
    {columns.length == 0 && <p>Nenhum hóspede encontrado no banco de dados</p>}
    <a href="/hospedes/cadastro"
      ><button
        class="w-64 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >Cadastrar</button
      ></a
    >
  </div>
</Layout>

<script>
  const tableBody = document.getElementById("table_content");
  if (tableBody) {
    tableBody.addEventListener("click", (event) => {
      const target = event.target as HTMLElement;
      const rows = target.parentNode as HTMLTableRowElement;
      const document = rows.cells[0].textContent;
      if (document) {
        window.location.href = window.location.href + "/" + document.trim();
      }
    });
  }
</script>
