---
export type GuestDTO = {
  document: string;
  created_at: string;
  name: string;
  surname: string;
  phone: string;
  country: string;
};

import Table from "../components/Table.astro";
import Layout from "../layouts/Layout.astro";

const response = await fetch("http://127.0.0.1:5000/api/hospedes");
const data: Array<GuestDTO> = await response.json();

const tableData = data.map((guest) => {
  return {
    document: guest.document,
    name: `${guest.name} ${guest.surname}`,
    country: guest.country,
    phone: guest.phone,
  };
});

let columns = Object.keys(tableData[0]);

console.log(tableData, columns);
---

<Layout>
  <div class="flex flex-col items-center">
    <Table id="guest-table" columns={columns} data={tableData} />
    {!data && <p>Nenhum hóspede encontrado no banco de dados</p>}
    <a href="/hospedes/cadastro"
      ><button
        class="w-64 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >Cadastrar</button
      ></a
    >
  </div>
</Layout>
