---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="self-center mt-12">Busca por Hóspedes ou Reservas</h1>
  <div class="mt-24 ml-12 mr-12 flex p-4 justify-center gap-3">
    <select
      class="p-4 border-solid border border-zinc-300 rounded-sm appearance-none"
      id="select_group">
      <option value="hospede">Hóspede</option>
      <option value="reserva">Reserva</option>
    </select>
    <input
      class="grow p-4 border-solid border border-zinc-300 rounded-sm appearance-none cursor-pointer"
      id="search_field"
      type="text"
      placeholder="Faça sua busca..."
    />
    <button
      type="button"
      class="bg-transparent hover:bg-amber-500 text-amber-700 font-semibold hover:text-white py-2 px-6 border border-amber-500 hover:border-transparent rounded"
      id="search_btn">
      Procurar
    </button>
  </div>

  <a
    href="/reservas/cadastro"
    class="mt-20 w-64 self-center bg-amber-500 hover:bg-amber-700 text-white font-bold py-4 text-center border border-amber-700 rounded"
    >Faça uma reserva!</a
  >
</Layout>
