---
type BookingDTO = {
  uuid: string;
  status: string;
  check_in: string;
  check_out: string;
  created_at: string;
  guest: {
    country: string;
    created_at: string;
    document: string;
    name: string;
    phone: string;
    surname: string;
  };
  accommodation: {
    amenities: Array<string>;
    created_at: string;
    double_beds: number;
    id: number;
    min_nights: number;
    name: string;
    price: number;
    single_beds: number;
    status: string;
    total_guests: number;
  };
};
import Table from "../components/Table.astro";
import Layout from "../layouts/Layout.astro";
const response = await fetch("http://127.0.0.1:5000/api/reservas");
const data: Array<BookingDTO> = await response.json();
const tableData = data.map((booking) => {
  return {
    accommodation: booking.accommodation.name,
    guest: booking.guest.name,
    status: booking.status,
    checkIn: booking.check_in,
    checkOut: booking.check_out,
  };
});
const columns = Object.keys(tableData[0]);
---

<Layout>
  <div class="flex flex-col items-center">
    {data && <Table id="booking-table" columns={columns} data={tableData} />}
    {!data && <p>Nenhum hóspede encontrado no banco de dados</p>}

    <button
      class="w-60 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
      >Cadastrar</button
    >
  </div>
</Layout>
