---
import Table from "../components/Table.astro";
import Layout from "../layouts/Layout.astro";
import { bookingSchema } from "../schemas/schemas";

const response = await fetch("http://127.0.0.1:8000/reservas");
const data = await response.json();

const bookings = await bookingSchema.array().parseAsync(data["bookings"]);

const tableData = bookings.map((bookinng) => {
  return {
    uuid: bookinng.uuid,
    status: bookinng.status,
    check_in: bookinng.check_in,
    chec_out: bookinng.check_out,
    guest_name: bookinng.guest.name,
    accommodation_name: bookinng.accommodation.name,
    budget: Intl.NumberFormat("pt-BR", {
      style: "currency",
      currency: "BRL",
    }).format(bookinng.budget),
  };
});

let columns = [
  "Status",
  "Check In",
  "Check Out",
  "Hóspede",
  "Acomodação",
  "Valor",
];

console.log;
---

<Layout>
  <div class="flex flex-col items-center">
    {
      columns.length > 0 && (
        <Table id="booking-table" columns={columns} data={tableData} />
      )
    }
    {columns.length == 0 && <p>Nenhum hóspede encontrado no banco de dados</p>}
    <a href="/reservas/cadastro"
      ><button
        class="w-64 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >Cadastrar</button
      ></a
    >
  </div>
</Layout>

<script>
  const tableBody = document.getElementById("table_content");
  if (tableBody) {
    tableBody.addEventListener("click", (event) => {
      const target = event.target as HTMLElement;
      const rows = target.parentNode as HTMLTableRowElement;
      const uuid = rows.cells[0].textContent;
      if (uuid) {
        const url = window.location.href;
        if (url.endsWith("/")) {
          window.location.href = url + uuid.trim();
        } else {
          window.location.href = url + "/" + uuid.trim();
        }
      }
    });
  }
</script>
