---
import CheckboxInput from "../../components/CheckboxInput.astro";
import Form from "../../components/Form.astro";
import NumberInputSmall from "../../components/NumberInputSmall.astro";
import TextInput from "../../components/TextInput.astro";
import Layout from "../../layouts/Layout.astro";

type AmenitieList = {
  amenities: { id: string; name: string }[];
};
const response = await fetch("http://127.0.0.1/amenities");
const data: AmenitieList = await response.json();
const amenities = data["amenities"];
---

<Layout>
  <Form id="new-accommodation-form">
    <div slot="inputs" class="flex flex-col gap-6">
      <TextInput id="name" label="Nome" />
      <div class="flex gap-4">
        <NumberInputSmall id="min_nights" label="Min. Noites" />
        <NumberInputSmall id="total_guests" label="Max. Hospedes" />
        <NumberInputSmall id="single_beds" label="Cama Solteiro" />
        <NumberInputSmall id="double_beds" label="Cama Casal" />
        <NumberInputSmall id="price" label="Preço" />
      </div>
      <div class="w-full h-[120px] flex p-2 justify-between flex-wrap">
        {
          amenities.map((amenitie) => {
            return (
              <CheckboxInput
                id={`amenitie_${amenitie.id}`}
                label={amenitie.name}
              />
            );
          })
        }
      </div>
    </div>

    <div slot="buttons" class="flex flex-col w-full items-center p-16">
      <button
        id="submit_button"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-56"
        type="submit">Cadastrar</button
      >
    </div>
  </Form>
</Layout>

<script>
  import { creationalAccommodationSchema } from "../../schemas/schemas";
  import { getFormData } from "../../utils/getFormData";

  let BACKEND_URL = "127.0.0.1";

  if (import.meta.env.PROD) {
    BACKEND_URL = "89.117.33.177";
  }

  const form = document.getElementById(
    "new-accommodation-form"
  ) as HTMLFormElement;

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = getFormData(form);

    const amenities = [];
    const data: any = {};

    for (const [key, value] of Object.entries(formData)) {
      if (value == "on") {
        amenities.push(key);
      } else {
        data[key] = value;
      }
    }
    data.amenities = amenities;

    const parse = await creationalAccommodationSchema.safeParseAsync(data);

    if (!parse.success) {
      console.log(parse.error.errors);
    }

    if (parse.success) {
      const response = await fetch(`http://${BACKEND_URL}/accommodations`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(parse.data),
      });
      if (response.status === 201) {
        window.location.href = "/acomodacoes";
      }
    }
  });
</script>
