---
import { createNewAccommodationAction } from "../../actions/accommodation/createNewAccommodationAction";
import AmenitieSelector from "../../components/AmenitieSelector.astro";
import Form from "../../components/Form.astro";
import NumberInput from "../../components/NumberInput.astro";
import TextInput from "../../components/TextInput.astro";
import Layout from "../../layouts/Layout.astro";
import { getAccommodationFormData } from "../../utils/getFormData";

const { request, callAction, redirect } = Astro;

if (request.method == "POST") {
  const formData = await request.formData();

  const accommodationData = getAccommodationFormData(formData);

  const { data, error } = await callAction(
    createNewAccommodationAction,
    accommodationData
  );

  if (error) {
    console.log(error);
    return Astro.redirect("/acomodacoes/cadastro");
  }

  console.log(data);
  return redirect("/acomodacoes");
}
---

<Layout>
  <main class="grow w-full flex flex-col items-center justify-between">
    <Form id="new-accommodation-form">
      <div
        slot="inputs"
        class="flex flex-col items-start justify-center text-sm gap-2">
        <TextInput id="name" label="Nome" />
        <NumberInput id="total_guests" label="Max. Hospedes" />
        <NumberInput id="single_beds" label="Cama Solteiro" />
        <NumberInput id="double_beds" label="Cama Casal" />
        <NumberInput id="price" label="Preço" />

        <AmenitieSelector />
      </div>
      <div slot="buttons" class="flex flex-col w-full">
        <button
          id="submit_button"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          type="submit">
          Cadastrar
        </button>
      </div>
    </Form>
  </main>
</Layout>
