---
import CheckboxInput from "../../components/CheckboxInput.astro";
import Form from "../../components/Form.astro";
import NumberInput from "../../components/NumberInput.astro";
import NumberInputSmall from "../../components/NumberInputSmall.astro";
import TextInput from "../../components/TextInput.astro";
import Layout from "../../layouts/Layout.astro";

type AmenitieList = {
  amenities: { id: string; name: string }[];
};
const response = await fetch(`http://backend:8050/amenities`);
const data: AmenitieList = await response.json();
const amenities = data["amenities"];
---

<Layout>
  <main class="grow w-full flex flex-col items-center justify-start">
    <Form id="new-accommodation-form">
      <div slot="inputs" class="flex flex-col items-start justify-center">
        <TextInput id="name" label="Nome" />
        <NumberInput id="total_guests" label="Max. Hospedes" />
        <NumberInput id="single_beds" label="Cama Solteiro" />
        <NumberInput id="double_beds" label="Cama Casal" />
        <NumberInput id="price" label="Preço" />

        <div class="p-4 mt-6 w-full">
          {
            amenities.length == 0 ? (
              <p class="text-center">Nenhuma amenidade cadastrada</p>
            ) : (
              amenities.map((amenitie) => (
                <CheckboxInput
                  id={`amenitie_${amenitie.id}`}
                  label={amenitie.name}
                />
              ))
            )
          }
        </div>
      </div>

      <div slot="buttons" class="flex flex-col w-full">
        <button
          id="submit_button"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          type="submit">Cadastrar</button
        >
      </div>
    </Form>
  </main>
</Layout>

<script>
  import { creationalAccommodationSchema } from "../../schemas/accommodation";
  import { getFormData } from "../../utils/getFormData";

  const form = document.getElementById(
    "new-accommodation-form"
  ) as HTMLFormElement;

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = getFormData(form);

    const amenities = [];
    const data: any = {};

    for (const [key, value] of Object.entries(formData)) {
      if (value == "on") {
        amenities.push(key);
      } else {
        data[key] = value;
      }
    }
    data.amenities = amenities;

    const parse = await creationalAccommodationSchema.safeParseAsync(data);
    console.log(parse.data);
    if (!parse.success) {
      console.log(parse.error.errors);
    }

    if (parse.success) {
      const response = await fetch(`http://backend:8050/accommodations`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(parse.data),
      });
      if (response.status === 201) {
        window.location.href = "/acomodacoes";
      }
    }
  });
</script>
