---
import { getAllAccommodationsAction } from "../../actions/accommodation/getAllAcommodationsAction";
import Table from "../../components/Table.astro";
import Layout from "../../layouts/Layout.astro";

const { callAction, redirect } = Astro;

const { data, error } = await callAction(getAllAccommodationsAction, undefined);

if (error) {
  console.log(error);
  return redirect("/");
}

const tableData = data.map((accommodation) => {
  return {
    ulid: accommodation.ulid,
    name: accommodation.name,
    status: accommodation.status,
    price: Intl.NumberFormat("pt-BR", {
      style: "currency",
      currency: "BRL",
    }).format(accommodation.price),
  };
});

let columns = ["Nome", "Status", "Preço"];
---

<Layout>
  <main class="grow flex flex-col items-center justify-between bg-amber-50">
    {
      tableData.length > 0 && (
        <Table id="accommodation-table" columns={columns} data={tableData} />
      )
    }
    {
      tableData.length == 0 && (
        <p class="mt-20">Nenhuma acomodação encontrada</p>
      )
    }
    <div class="flex flex-col gap-2">
      <a href="/acomodacoes/cadastro">
        <button
          class="w-64 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          >Cadastrar
        </button>
      </a>

      <a href="/amenidades/">
        <button
          class="w-64 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >Amenidades
        </button>
      </a>
    </div>
  </main>
</Layout>

<script>
  import { navigate } from "astro:transitions/client";

  const tableBody = document.getElementById("table_content");

  if (tableBody) {
    tableBody.addEventListener("click", (event) => {
      const target = event.target as HTMLElement;
      const row = target.closest("tr");

      if (row) {
        const ulidCell = row.querySelector(".ulid_hidden_col");
        const ulidValue = ulidCell ? ulidCell.textContent : null;

        if (ulidValue) {
          return navigate(`/acomodacoes/${ulidValue.trim()}`);
        }
      }
    });
  }
</script>
