---
import Table from "../../components/Table.astro";
import Layout from "../../layouts/Layout.astro";
import { bookingSchema } from "../../schemas/booking";

const response = await fetch(`http://backend:8050/bookings`);

const data = await response.json();

const bookings = await bookingSchema.array().parseAsync(data["bookings"]);

const tableData = bookings.map((bookinng) => {
  return {
    ulid: bookinng.ulid,
    status: bookinng.status,
    check_in: bookinng.check_in,
    chec_out: bookinng.check_out,
    guest_name: bookinng.guest.name,
    accommodation_name: bookinng.accommodation.name,
    budget: Intl.NumberFormat("pt-BR", {
      style: "currency",
      currency: "BRL",
    }).format(bookinng.budget),
  };
});

let columns = [
  "Status",
  "Check In",
  "Check Out",
  "Hóspede",
  "Acomodação",
  "Valor",
];
---

<Layout>
  <main class="grow flex flex-col items-center justify-between bg-amber-50">
    {
      tableData.length > 0 ? (
        <Table id="guest-table" columns={columns} data={tableData} />
      ) : (
        <p class="mt-20">Nenhuma reserva encontrada</p>
      )
    }

    <a
      href="/reservas/cadastro"
      class="mb-20 w-64 text-zinc-800 bg-green-500 hover:bg-green-700 font-bold py-2 px-4 rounded block text-center transition duration-200">
      Cadastrar
    </a>
  </main>
</Layout>

<script>
  import { navigate } from "astro:transitions/client";

  const tableBody = document.getElementById("table_content");

  if (tableBody) {
    tableBody.addEventListener("click", (event) => {
      const target = event.target as HTMLElement;
      const row = target.closest("tr");

      if (row) {
        const ulidCell = row.querySelector(".ulid_hidden_col");
        const ulidValue = ulidCell ? ulidCell.textContent : null;

        if (ulidValue) {
          return navigate(`/reservas/${ulidValue.trim()}`);
        }
      }
    });
  }
</script>
