---
type Props = {
  id: string;
};

const { id } = Astro.props;
---

<dialog
  class="px-16 py-3 mt-10 rounded-md text-md bg-red-600 opacity-90 text-zinc-200"
  id={id}>
  <div class="flex flex-col align-middle justify-between items-center"></div>
</dialog>
