---
type Props = {
  id: string;
};

const { id } = Astro.props;
---

<form
  id={id}
  class="flex flex-col w-full h-full justify-between gap-4 max-w-md p-4"
  method="POST">
  <slot name="inputs" />
  <slot name="buttons" />
</form>
