---
type Props = {
  id: string;
  method: "POST" | "PUT";
};

const { id, method } = Astro.props;
---

<form
  id={id}
  class="flex flex-col w-full h-full justify-between gap-4 max-w-md"
  method={method}>
  <slot name="inputs" />
  <slot name="buttons" />
</form>
