---
type Props = {
  id: string;
  columns: string[];
  data: any[];
};

const { id, columns, data } = Astro.props;
---

<table class="w-full p-4 table-auto border-collapse mt-14 mb-24" id={id}>
  <thead class="bg-zinc-500 text-amber-50 font-bold h-12 text-center">
    {
      columns.map((col) => {
        return <td class="p-4">{col}</td>;
      })
    }
  </thead>
  <tbody>
    {
      data.map((content) => {
        return (
          <tr class="text-center text-zinc-600 hover:bg-orange-200 cursor-pointer">
            {columns.map((col) => {
              return (
                <td class="border-b border-l text-center p-4 border-zinc-300 last:border-r">
                  {content[col]}
                </td>
              );
            })}
          </tr>
        );
      })
    }
  </tbody>
</table>
