<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Quinta do Ypuã" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Macondo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Quinta do Ypuã</title>
  </head>
  <body class="bg-amber-50 text-zinc-700 text-lg font-['Poppins']">
    <div
      class="container mx-auto px-4 flex flex-col w-full max-w-4xl min-h-screen items-center">
      <main class="grow flex flex-col w-full justify-center items-center">
        <slot />
      </main>
      <footer class="p-2">
        &copy; Quinta do Ypuã - todos os direitos reservados
      </footer>
    </div>
  </body>
</html>
