<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Quinta do Ypuã" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>Quinta do Ypuã</title>
  </head>
  <body class="bg-amber-50 text-zinc-700 text-lg font-mono h-screen w-screen">
    <div aria-hidde="true" class="flex flex-col h-full w-full">
      <main class="grow flex flex-col gap-10 items-center justify-center p-2">
        <slot />
      </main>
      <footer class="p-2 font-thin text-xs text-center">
        &copy; Quinta do Ypuã - todos os direitos reservados
      </footer>
    </div>
  </body>
</html>
