---
import { createNewAmenitieAction } from "../../actions/amenities/createNewAmenitieAction";
import Form from "../../components/Form.astro";
import TextInput from "../../components/TextInput.astro";
import Layout from "../../layouts/Layout.astro";

const { request, callAction, redirect } = Astro;

if (request.method == "POST") {
  const formData = await request.formData();

  const { data, error } = await callAction(createNewAmenitieAction, formData);

  if (error) {
    console.log(error);
    return Astro.redirect("/amenidades/cadastro");
  }

  console.log(data);
  return redirect("/amenidades");
}
---

<Layout>
  <main class="grow w-full flex flex-col items-center justify-start">
    <Form id="new-accommodation-form">
      <div slot="inputs" class="flex flex-col items-start justify-center">
        <TextInput id="name" label="Nome" />
      </div>

      <div slot="buttons" class="flex flex-col w-full">
        <button
          id="submit_button"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          type="submit">Cadastrar</button
        >
      </div>
    </Form>
  </main>
</Layout>
