---
import { createNewAmenitieAction } from "../../actions/amenities/createNewAmenitieAction";
import Form from "../../components/Form.astro";
import TextInput from "../../components/TextInput.astro";
import Layout from "../../layouts/Layout.astro";

const { request, callAction, redirect } = Astro;
const errors = [];
if (request.method == "POST") {
  const formData = await request.formData();

  const result = await callAction(createNewAmenitieAction, formData);

  if (!result.error) {
    return redirect("/amenidades");
  }

  errors.push(result.error);
}
---

<Layout>
  <main class="grow w-full flex flex-col items-center justify-start">
    <Form id="new-accommodation-form">
      <div slot="inputs" class="flex flex-col items-start justify-center">
        <TextInput id="name" label="Nome" />
      </div>

      <div slot="buttons" class="flex flex-col w-full">
        <button
          id="submit_button"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          type="submit">Cadastrar</button
        >
      </div>
    </Form>
    {
      errors[0] && (
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded w-full max-w-md "
          role="alert">
          <span class="block sm:inline">{errors[0]}</span>
        </div>
      )
    }
  </main>
</Layout>
